<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  <div class="container-fluid position-relative">

    <!-- Menu centralizado -->
<!-- Menu centralizado -->
<div class="w-100 d-flex justify-content-center">
  <a
    [routerLink]="'/lista'"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    [ngClass]="{
      'nav-link mx-3 text-white': true,
      'text-warning fw-bold': currentRoute === '/lista'
    }"
  >
    Lista
  </a>
  <span class="text-white">|</span>
  <a
    [routerLink]="'/cadastro'"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    [ngClass]="{
      'nav-link mx-3 text-white': true,
      'text-warning fw-bold': currentRoute === '/cadastro'
    }"
  >
    Cadastrar
  </a>
</div>


    <!-- Logo da WEG com link fixo no canto direito -->
    <a
      href="https://www.weg.net/institutional/BR/pt/"
      target="_blank"
      rel="noopener noreferrer"
      style="position: absolute; right: 20px; top: 50%; transform: translateY(-50%);"
    >
      <img
        src="assets/img/weg-logo.png"
        alt="Logo WEG"
        style="height: 40px;"
      />
    </a>
  </div>
</nav>

<router-outlet></router-outlet>
