<div class="container mt-5">
<div class="position-relative mb-3">
  <button 
    class="btn btn-outline-danger btn-sm position-absolute top-0 end-0" 
    (click)="logout()">
    Sair
  </button>
</div>

<h2 class="text-center mb-4">Lista de Ferramentas</h2>

  <!-- Carregando -->
<div *ngIf="carregando" class="text-center my-5">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Carregando...</span>
  </div>
</div>

<div *ngIf="!carregando">
  <!-- Campo de busca -->
  <div class="mb-4 text-center">
    <input
      type="text"
      class="form-control w-50 mx-auto"
      placeholder="Buscar ferramenta pelo nome..."
      [(ngModel)]="termoBusca"
    />
  </div>

  <!-- Alerta de exclusão -->
  <div *ngIf="sucesso" class="alert alert-success text-center mb-4">
    Ferramenta excluída com sucesso!
  </div>

  <!-- Tabela -->
  <table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Nome</th>
        <th>Quantidade</th>
        <th class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ferramenta of ferramentasFiltradas">
        <td>{{ ferramenta.nome }}</td>
        <td>{{ ferramenta.quantidade }}</td>
       <td class="text-center">
        <button class="btn btn-sm btn-warning me-2" [routerLink]="['/editar', ferramenta._id]">Editar</button>
        <button class="btn btn-sm btn-danger me-2" (click)="excluir(ferramenta._id)">Excluir</button>
        <button
           class="btn btn-sm btn-info"
           (click)="abrirImagem(ferramenta.imagem)"
          *ngIf="ferramenta.imagem"
        >
           👁 Visualizar
        </button>
      </td>

      </tr>
    </tbody>
  </table>

  <div *ngIf="ferramentasFiltradas.length === 0" class="text-center mt-4">
    Nenhuma ferramenta encontrada.
  </div>
<!-- Modal de visualização de imagem -->
<div
  class="modal fade show d-block"
  tabindex="-1"
  *ngIf="mostrarImagem"
  style="background-color: rgba(0,0,0,0.5);"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Imagem da Ferramenta</h5>
        <button type="button" class="btn-close" (click)="fecharImagem()"></button>
      </div>

      <div class="modal-body text-center">
        <img
          [src]="imagemSelecionada"
          alt="Imagem da ferramenta"
          class="img-fluid rounded"
        />
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="fecharImagem()">Fechar</button>
      </div>

    </div>
  </div>
</div>
</div>
